<h2><%=t('.password', :default => [:'helpers.titles.password'])%></h2>

<%= simple_form_for @admin, :url => url_for("/change_password_user"),:method => 'post' do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<input type="hidden" name="id" id="id" value="<%=@admin.id%>">
    <%= f.input :password, :autocomplete => "off", :vallue=>"", :hint => "Dejar en blanco si no se desea cambiar", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", :class=>"btn btn-info" %>
  </div>
<% end %>
