<% content_for :sidebar do %>
  <%=render "sidebar" %>
<% end %>
<%= render "company_header", :company=>current_admin.company%>
<div class="row-fluid">
  <div class="span7">
    <fieldset>
      <legend><%= t('layout.titles.company_info') %></legend>
      <%= simple_form_for @company,:url => url_for("/admin_modules/panel/settings") ,:html => { :class => 'form-horizontal' } do |f| %>
        <%= f.input :name %>
        <%= f.input :website %>
        <%= f.input :slogan %>
        <%= f.input :contact_name %>
        <%= f.input :contact_lastname %>
        <%= f.input :email %>
        <%= f.input :phones %>
        <%= f.file_field :logo  %>
        <% if @company.logo? %>
          <%=image_tag(@company.logo.url(:medium),:class=>"img-rounded img-polaroid") %>
          <p class="text-info">Seleccionar otra si se desea cambiar</p>
        <% end%>
        <div class="form-actions">
          <%= f.button :submit, :class => 'btn-primary' %>
        </div>
      <% end %>
    </fieldset>
  </div>
  <div class="span5">
    <fieldset>
      <legend><%= t('layout.titles.Mantenimiento') %></legend>
      <div class="span7 offset2">
        <div class="thumbnail" style="background-color:#DAE5F1 ">
          <img src="/images/big_icon_customer.png" alt="">
          <div class="caption">
            <p style="text-align:center "><a href="/admin_modules/admins" class="btn btn-large btn-warning"><%= t("admin_modules.admins") %></a></p>
          </div>
        </div>
        <br>
        <div class="thumbnail" style="background-color:#DAE5F1 ">
          <img src="/images/big_icon_customer.png" alt="">
          <div class="caption">
            <p style="text-align:center "><a href="/admin_modules/talent_hunters" class="btn btn-large btn-warning"><%= t("admin_modules.talent_hunters") %></a></p>
          </div>
        </div>
        <br>
        <div class="thumbnail" style="background-color:#DAE5F1 ">
          <img src="/images/big_icon_dots.png" alt="">
          <div class="caption">
            <p style="text-align:center "><a href="/admin_modules/dots" class="btn btn-large btn-warning"><%= t("admin_modules.dots") %></a></p>
          </div>
        </div>
        <br>
        <div class="thumbnail" style="background-color:#DAE5F1 ">
          <img src="/images/big_icon_note.png" alt="">
          <div class="caption">
            <p style="text-align:center "><a href="/companies" class="btn btn-large btn-warning"> Empresas</a></p>
          </div>
        </div>
        <br>
        <div class="thumbnail" style="background-color:#DAE5F1 ">
          <img src="/images/big_icon_customer.png" alt="">
          <div class="caption">
            <p style="text-align:center "><a href="/talent_hunters" class="btn btn-large btn-warning"> Talent Hunters</a></p>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
