

<script src="/assets/js_highchart/highcharts.js"></script>
<script src="/assets/js_highchart/modules/exporting.js"></script>
<style>
	table td,table th {
		text-transform: uppercase;
		padding: 5px !important;
		font-size: 10px !important;
	}
	table {
		width: auto !important;
	}	
</style>

<div class="page-content">
  <div class="page-header position-relative pull-left">
    <h1>
      Dots Global
      <small>
        <i class="icon-double-angle-right"></i>
        Semana del <%=@selected_timeframe.starts_at.to_date%> al <%=@selected_timeframe.ends_at.to_date%>
      </small>
    </h1>
  </div>
  <div class="pull-right">
    <%=form_for @dots, :as => :date, :url => modules_reports_company_path, :method=>:get,:class=>"form-inline" do |f| %>
          <div class="input-append">
            <input class="date-picker span2" id="date_starts_at" name="date[starts_at]" type="text" data-date-format="dd/mm/yyyy" value="<%=@dots.starts_at%>" />
            <span class="add-on">
              <i class="icon-calendar"></i>
            </span>
            <%= f.submit "Ir", :class => 'btn btn-info btn-small' %>
          </div>
          	<%=link_to modules_reports_show_path(date: {:starts_at=>@dots.starts_at},format: "pdf"), :target=>"_blank", :class=>'btn btn-light btn-small"' do%>
          		<i class="icon-cloud-download"></i> PDF
          	<% end %>
          	<%=link_to modules_reports_show_path(date: {:starts_at=>@dots.starts_at},format: "xls"), :target=>"_blank", :class=>'btn btn-yellow btn-small"' do%>
          		<i class="icon-cloud-download"></i> Excel
          	<% end %>
          	<hr>
    <%end%>
  </div><!--/.page-header-->

  <div class="row-fluid">
    <div class="span12">
      <%= render "partials/notices" %>
	    <%@countries.each do |country| %>
	    		<p class="label label-large label-primary arrowed-right"><strong><%=country.country.name%></strong></p><br>
		    	<table class="table table-striped table-bordered">
		    		<thead>
		    			<tr>
		    				<th width="150">Talent Hunter</th>
		    				<%country.country.talent_hunters.where(:is_active=>true).order("talent_hunters.created_at ASC").each do |hunter| %>
	    						<th width="60" align="center"><%=hunter.firstname%></th>
		    				<% end %>
		    				<th width="50">Total</th>
		    				<th width="75">Ejecutivo</th>
		    				<th width="75">Compañia</th>
		    				<%#country.dots.where(:is_deleted=>false).each do |dot| %>
		    					<!--th><%#=dot.dot.name%></th>-->
		    				<%#end %>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<%country.countries_dots.order("countries_dots.dot_id ASC").each do |dot| %>
		    			<%total_dot=0%>
		    			<%country_goal=0%>
						<%country_goal=country.country.talent_hunters.where(:is_active=>true).order("talent_hunters.created_at ASC").first.talent_hunters_dots.where(:dot_id=>dot.dot.id).first.goal%>
		    			<tr>
		    				<td><%=dot.dot.name%></td>
		    				<%country.country.talent_hunters.where(:is_active=>true).order("talent_hunters.created_at ASC").each do |hunter| %>
	    						<% hunter.talent_hunters_dots.order("dot_id ASC").where(:dot_id=>dot.dot.id).each do |goal| %>
	    							<td class="dot_<%=country.country_id%>_<%=goal.dot_id%>">
	    								<% scored=goal.dots_scoreds.includes(:work_timeframe).where("work_timeframes.n_number=?",@selected_timeframe.n_number).first %>
	    								<%=scored.total%>
	    								<%total_dot+=scored.total%>
	    							</td>
	    						<% end %>
		    				<% end %>
		    				<td><%=total_dot%></td>
		    				<td ><%=country_goal%></td>
		    				<td><%=(country_goal*country.country.talent_hunters.where(:is_active=>true).size)%></td>
		    			</tr>
		    				
		    			<%end %>
		    		</tbody>
		    	</table>
		    	<hr>
	    <% end %>
    </div>
  </div>
</div>

<script>
	$('.date-picker').datepicker().next().on(ace.click_event, function(){
		$(this).prev().focus();
	});
</script>
<%#Category.all %>