<%=render "partials/notices" %>
<h2><%=t('.password', :default => [:'helpers.titles.password'])%> para <%=@admin.firstname %> <%=@admin.lastname %>   </h2>

<%= simple_form_for @admin, :url => update_admin_password_path(@admin),:method => 'post' do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input type="hidden" name="id" id="id" value="<%=@admin.id%>">
    <%= f.input :password, :autocomplete => "off", :vallue=>"", :hint => "Dejar en blanco si no se desea cambiar", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.save', :default => t("helpers.links.save")), :class=>"btn btn-info" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_modules_admins_path, :class => 'btn btn-mini' %>
  </div>
<% end %>
